<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>A site featuring Chuck Thomas' portfolio and freelance services with special focus on Houston, TX</h3></p>
            </div><br></br>
            <h4>Map of the Week - 3/20 - 3/26 - Museums in Houston, Tx</h4></br>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <iframe width="85%" height="400" frameborder="0" src="https://cthomas.cartodb.com/viz/c22dc3e4-eacc-11e5-8c3f-0ea31932ec1d/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
