<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>A site featuring Charless Thomas' portfolio and freelance services with special focus on Houston, TX (still in construction) </h3><p>
                     <h4><a href="http://www.cityplanningtechnician.com/portfolio/">Map of the Week - 3/20/16 - 3/26/16 - Museums in Houston, Tx </a></h4><p>
                
                </p>
            </div>
           </br>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <!--<iframe width="85%" height="400" frameborder="0" src="https://cthomas.carto.com/viz/f3ed386a-a2cd-11e6-95c6-0ecd1babdde5/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>-->
          <!-- <iframe src="https://www.google.com/maps/d/embed?mid=1OucFjSLUSwiuyDL-Uw_V75CbH-4" width="640" height="480"></iframe>-->
        <iframe src="https://www.google.com/maps/d/embed?mid=1OucFjSLUSwiuyDL-Uw_V75CbH-4" width="640" height="480"&z=15></iframe>
        </div>
        </div><h4>Use the share button <img src="/assets/img/project/shareicon.jpg"> to post this map to your social media or website.</h4>
    </div> <!-- /container -->
</div><!-- /headerwrap -->
