<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>A site featuring Chuck Thomas' portfolio and freelance services with special focus on Houston, TX (still in construction) </h3><p>
                     <h4><a href="http://www.cityplanningtechnician.com/portfolio/">Map of the Week - 3/20/16 - 3/26/16 - Museums in Houston, Tx </a></h4><p>
                     <h4>Click on the share button to post this map</h4><img src="pic_mountain.jpg">
                </p>
            </div>
           </br>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <iframe width="85%" height="400" frameborder="0" src="https://cthomas.cartodb.com/viz/c22dc3e4-eacc-11e5-8c3f-0ea31932ec1d/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
